*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
/* sectiion Navbar */
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(foto/kanada.jpeg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;                                                                                                                                                                          
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
}
.navbar a:hover{
    color: #265073;
}
.navbar a::after{
    content: '';
    display: block;
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
    transform: scaleX(0);
    transition: 0.2s linear;
}
.navbar a:hover::after{
    transform: scaleX(0.5);
}
.logo{
    width: 50px;
    cursor: pointer;
    padding: 2px;
    background-color: #fff;
    border-radius: 50px;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
    color: #000;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}
.menu-icon:hover{
    color: #fff;
    background-color: #000;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-family: Arial;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 100px;
    font-family: Arial;
}
p{
    font-family: Arial;
    color: #fff;
    font-size: 11px;
    line-height: 15px;
}
button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
button:hover{
    transform: scale(1.05);
    transition: all 1s ease-in-out;
    transition: all 1s ease-out;
}
a{
    color: #000;
    text-decoration: none;
    font-family: Arial;
}
/* Section Header/Home */
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(foto/manitoba.jpeg);
}
.card2{
    background-image: url(foto/Quebec.jpeg);
}
.card3{
    background-image: url(foto/Banff.jpeg);
}
.card4{
    background-image: url(foto/Vancouver.jpeg);
}
.card5{
    background-image: url(foto/gunung\ fuji.jpeg);
}
.card6{
    background-image: url(foto/menara\ eifel.jpeg);
}
.card7{
    background-image: url(foto/brazil.jpeg);
}
.card8{
    background-image: url(foto/bromo.jpeg);
}
.card9{
    background-image: url(foto/skotlandia.jpeg);
}
.card10{
    background-image: url(foto/Sydney\ Opera\ House.jpeg);
}
.card11{
    background-image: url(foto/selandia\ baru.jpeg);
}
.card12{
    background-image: url(foto/italia.jpeg);
}
.card13{
    background-image: url(foto/islandia.jpg);
}
.card14{
    background-image: url(foto/meksiko.jpg);
}
.card:hover{
    transform: scale(1.03);
    transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-out;
}
h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 20px #000;
    font-size: 10px;
}
/* Section Region */    
section h2{
    padding: 50px;
    text-align: center;
    font-size: 700;
}
.regions{
    align-items: center;
    font-family: Arial;
    justify-content: center;
}
.region{
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.kartu{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.kartu:hover{
    transform: scale(1.03);
    transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-out;
}
.kartu p{
    text-shadow: 0 0 20px #000;
    font-size: 10px;
}
/* Section Footer */
footer{
    background-color: #fff;
    text-align: center;
    padding: 2px 0 5px;
    margin-top: 3px;
}
footer .socials{
    padding: 1px 0;
}
footer .socials a{
    color: #000;
    margin: 5px;
}
footer .socials a:hover,footer .links a:hover{
    color: #555;
    transform: scale(1.03);
    transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-out;
}
footer .links{
    margin-bottom: 3px;
}
footer .links a{
    color: #000;
    padding: 3px 7px;
    font-size: 12px;
} 
footer .credit{
    font-size: 20px;
}
footer .credit span{
    color: #265073;
    font-weight: bold;
}
footer .credit p{
    color: #000;
    font-size: 10px;
}